.btn-donant {
    position: relative;
    font-size: 14px;
    width: 125px;
    height: 125px;
    border: 2px rgba(255, 255, 255, 0.219) solid;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: 50% 45%;
    background-size: 50px;
    transition: all 0.3s, background-color 0.1s;
}

.btn-donant:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.507);
}

form .btn-donant {
    background-color: var(--primary-color-dark) !important;
}

#btnAnonim {
    background-color: #cc3366e5;
    background-image: url("../media/img/anonim.png");
}

#btnAnonim:hover {
    background-color: #cc3366;
}

#btnEmpresa {
    background-color: #663366f6;
    background-image: url("../media/img/empresa.png");

}

#btnEmpresa:hover {
    background-color: #663366;
}

#btnParticular {
    background-color: #ff6600e5;
    background-image: url("../media/img/user.png");

}

#btnParticular:hover {
    background-color: #ff6600;
}

.closeBtn:hover {
    background-color: #ed1c24 !important;
    background-image: url("../media/img/close.png") !important;
    background-size: 35px;
}


#btnNou {
    background-size: 40px;
    background-image: url("../media/img/plus.png");
}

.btn-donant p {
    display: inline;
    color: white;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons {
    display: flex;
    flex-wrap: wrap
}

.modal-content {
    border-radius: 0;
    margin: auto;
    max-width: 350px;
}

.modal-body,
.modal-header {
    border: none;
}

.modal-body {
    padding-top: .5rem;
}

.spinner-border {
    color: var(--primary-color-dark);
}
