.btn-donant,
.btn-donatiu {
    position: relative;
    font-size: 14px;
    width: 125px;
    height: 125px;
    border: 2px rgba(255, 255, 255, 0.219) solid;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: 50% 45%;
    background-size: 50px;
    transition: all 0.3s, background-color 0.1s;
}

.btn-donant:hover,
.btn-donatiu:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.507);
}

form .btn-donant {
    background-color: var(--primary-color-dark);
}

#btnAnonim,
#btnAnonimDelete {
    background-color: hsla(340, 60%, 50%, 0.898);
    background-image: url("../media/img/anonim.png");
}

#btnAnonim:hover {
    background-color: #cc3366;
}

#btnEmpresa,
#btnEmpresaDelete {
    background-color: hsla(300, 33%, 30%, 0.965);
    background-image: url("../media/img/empresa.png");

}

#btnEmpresa:hover {
    background-color: #663366;
}

#btnParticular,
#btnParticularDelete {
    background-color: hsla(24, 100%, 50%, 0.898);
    background-image: url("../media/img/user.png");

}

#btnParticular:hover {
    background-color: #ff6600;
}

#btnDiners {
    background-color: #ff9800;
    background-image: url("../media/img/money.png");
}

#btnMaterial {
    background-color: #84513e;
    background-image: url("../media/img/material.png");
}

.closeBtn {
    font-size: 12px;
    background-size: 35px;
    width: 85px;
    height: 85px;
}

.closeBtn:hover {
    background-color: #ed1c24 !important;
    background-image: url("../media/img/close.png") !important;
    background-size: 25px;
}

#btnNou {
    background-size: 40px;
    background-image: url("../media/img/plus.png");
}

.btn-donant p,
.btn-donatiu p {
    display: inline;
    color: white;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons {
    display: flex;
    flex-wrap: wrap
}

.btn-delete,
.btn-edit {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-image: url("../media/img/delete.svg");
    background-position: center;
    background-size: 20px;
    opacity: 0.7
}

.btn-edit {
    background-image: url("../media/img/view.svg");
}

.all {
    position: relative;
    max-width: 1100px;
}

.unable {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    max-width: 1300px;
    background-color: rgba(255, 255, 255, 0.411);
    z-index: 10;
}

.unable .spinner {
    width: 100px;
    height: 100px;
    border-width: 5px;
}

/* .modal-content {
    border-radius: 0;
    margin: auto;
}

.modalEmpresa,
.modalParticular {
    max-width: 350px;
}

.modal-body,
.modal-header {
    border: none;
}

.modal-body {
    padding-top: .5rem;
} */

.spinner {
    border: 3px solid transparent;
    border-radius: 50%;
    border-bottom: 3px solid var(--primary-color-dark);
    border-top: 3px solid var(--primary-color-dark);
    border-left: 3px solid var(--primary-color-dark);
    width: 33px;
    height: 33px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

#infoParticular,
#infoEmpresa {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

#infoParticular p,
#infoEmpresa p {
    color: #717171;
    margin-top: 0.5rem;
    font-style: italic
}

#infoParticular b,
#infoEmpresa b {
    color: #3f3f3f;
}

#nombreEmpresa,
#nombreParticular {
    font-size: 25px;
    margin: 0;
}

.showHide {
    display: inline-block;
    border: 0;
    background: transparent;
}

.showHide img {
    height: 30px;
    width: 30px;
    transition: all 0.5s;
}

.showHide:focus {
    outline: none;
}

.rotate-180 {
    transform: rotate(180deg);
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 400px) {

    .btn-donant,
    .btn-donatiu {
        width: calc(50vw - 20px - 1rem);
        height: calc(50vw - 20px - 1rem);
    }

    .closeBtn {
        width: calc(38vw - 20px - 1rem);
        height: calc(38vw - 20px - 1rem);
    }
}
