body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: rgb(240, 240, 240) !important;
}

.loginBox {
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-group {
    position: relative;
}

.fill {
    display: block;
    border: none;
    padding: 18px 15px 12px 15px;
    background: transparent;
    border: 1px #bdbdbd solid;
    border-radius: 5px;
    width: 300px;
    border: 1px #bdbdbd solid;
    transition: border 0.2s
}

.fill:focus {
    outline-width: 0;
    border: 1px var(--primary-color-dark) solid;
}

h4 {
    margin: 20px 0 35px 0 !important;
}

label {
    color: #8b8b8b;
    position: absolute;
    top: -12px;
    left: 15px;
    background: white;
    padding: 0 10px;
}

.button {
    font-size: 17px;
    border: 0;
    padding: 8px 18px;
    transition: all 0.2s;
    font-family: inherit;
    border-radius: 3px;
    margin: 10px 5px 0 5px;
    font-weight: 500;
}

.button:focus {
    outline-width: 0;
}

.loginBox {
    border-top: 3px solid var(--primary-color);
    padding: 25px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.205);
}

@media (max-width: 400px) {
    .fill {
        width: 80vw;
    }
}
