body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #eee !important;
}

.loginBox {
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-group {
    position: relative;
}

.fill {
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    border: none;
    padding: 21px 15px 9px 15px;
    background: transparent;
    border: 2px #8a8a8aca solid;
    border-radius: 5px;
    width: 300px;
    transition: border-color 0.2s
}

.fill:focus {
    outline-width: 0;
    border: 2px solid;
    border-color: var(--primary-color);
}

h2 {
    margin: 20px 0 35px 0 !important;
}

p {
    font-size: 17px;
    color: #8a8a8a;
    position: absolute;
    top: 15px;
    left: 5px;
    padding: 0 10px;
    z-index: -1;
}

.focus-color {
    color: var(--primary-color);
}

.button {
    font-size: 17px;
    border: 0;
    padding: 9px 20px;
    transition: all 0.2s;
    font-family: inherit;
    border-radius: 3px;
    margin: 10px 5px 0 5px;
    font-weight: 500;
}

.button:focus {
    outline-width: 0;
}

#hideShow {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 45%;
    left: 91%;
    width: 30px;
    height: 30px;
    border: 0;
    text-align: center;
    background: transparent;
    font-family: 'Material Icons';
    font-size: 25px;
    color: #8a8a8a6e;
    transform: translate(-50%, -50%);
    cursor: (auto);
    transition: all 0.5s;
}

#hideShow:focus {
    outline: 0;
}

#hideShow::before {
    position: absolute;
    content: "";
    top: 63%;
    left: 50%;
    height: 0px;
    width: 0px;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: var(--primary-color);
    opacity: 1;
}

.pulse:before {
    height: 40px !important;
    width: 40px !important;
    opacity: 0 !important;
    transition: all 0.5s;
}

.loginBox {
    border-top: 3px solid var(--primary-color);
    padding: 25px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.205);
}

@media (max-width: 400px) {
    .fill {
        width: 8avw;
    }
}
