:root {
    --nav-height: 90px;
    --nav-width: 140px;
}

body {
    margin: 0;
    background: #fafafa;
}

.body {
    padding: var(--nav-height) 0 0 var(--nav-width)
}

.p-5 {
    padding: 2rem 3rem 3rem 3rem !important;
}

.form-control,
.custom-select {
    border-radius: 0;
}

.form-control:focus,
.custom-select:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem var(--primary-color-shadow);
}

#menuSuperior {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    background: white;
    height: var(--nav-height);
    padding-left: calc(var(--nav-width) + 25px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.514);
    z-index: 3;
    justify-content: space-between;
}

#menuSuperior a {
    height: 70%;
}

.dropdown-lenguage {
    background: transparent;
    border: 0px;
    color: #0000006b;
    margin-top: 6px;
    margin-right: 15px;
}

.dropdown-lenguage::after {
    display: none !important;
}

.dropdown {
    display: flex;
}

.btn-exit {
    margin-top: 6px;
    background: none;
    border: none
}

.btn-exit img {
    height: 23px;
    width: 23px;
    opacity: 0.4;
}

#menuLateral {
    position: fixed;
    height: calc(100% - var(--nav-height));
    min-height: 550px;
    width: var(--nav-width);
    top: var(--nav-height);
    background: #2b2c2a;
    z-index: 3;
}

#logo {
    position: fixed;
    height: var(--nav-height);
    width: var(--nav-width);
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#opcionsMenuLateral {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

#opcionsMenuLateral li {
    position: relative;
}

#opcionsMenuLateral li a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: calc((100vh - var(--nav-height)) / 5);
    width: 100%;
    background: transparent;
    list-style-type: none;
    text-decoration: none;
    color: white;
    opacity: 0.55;
}

#opcionsMenuLateral li a:hover {
    opacity: 1;
}

#opcionsMenuLateral li:hover {
    background-color: #383837;
}

.active-tab a {
    opacity: 1 !important;
}

.active-tab::before {
    --size: 15px;
    content: '';
    position: absolute;
    top: calc(50% - var(--size));
    left: calc(100% - var(--size) + 1px);
    width: 0px;
    height: 0px;
    border-top: var(--size) solid transparent;
    border-bottom: var(--size) solid transparent;
    border-right: var(--size) solid #fafafa;
    z-index: 100;
}

.table td,
.table th {
    padding: .5rem;
}

.sorting:before,
.sorting_desc:before,
.sorting_asc:before {
    top: 16%;
}

.sorting:after,
.sorting_desc:after,
.sorting_asc:after {
    top: 18%;
}

.toast {
    display: none;
    position: fixed;
    top: 90%;
    left: 50%;
    z-index: 100;
    font-size: 18px;
    font-weight: 600;
    padding: 1rem 2rem;
    color: white;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.733);
    transform: translate(-50%, -50%);
}

.toast p {
    margin: 0;
}

.unable {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.411);
    z-index: 10;
}

.unable .spinner {
    width: 80px;
    height: 80px;
    border-width: 9px;
}

.spinner {
    border: 3px solid transparent;
    border-radius: 50%;
    border-bottom: 3px solid var(--primary-color-dark);
    border-top: 3px solid var(--primary-color-dark);
    border-left: 3px solid var(--primary-color-dark);
    width: 33px;
    height: 33px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.unable:before {
    top: 50%;
    left: 50%;
    position: absolute;
    content: " ";
    background: white;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.431)
}

#alertModal .btn {
    padding-bottom: 6px;
}

/* Responsive Movil */

@media only screen and (max-width: 600px) {
    #menuLateral {
        display: none;
    }

    #menuSuperior {
        height: 20vw;
        width: 100%;
        padding-left: 20vw;
    }

    #menuSuperior a {
        height: 50%;
        margin-left: 10px;
    }

    #logo {
        height: 20vw;
        width: 20vw;
    }

    #logo img {
        display: none;
    }

    .menu-btn {
        display: inline;
    }

    .menu {
        display: flex;
    }

    .body {
        padding: 20vw 0 0 0;
    }

    .p-5 {
        padding: 1rem !important;
    }

    .dropdown-lenguage {
        margin-right: 0;
    }

}

/* Animaciones */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
