.navbar{
    background: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.514);
}

.navbar-dark .navbar-nav .nav-link {
    color: grey !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: darkgrey !important;
}

.dropdown-lenguage
{
    color: grey !important;
}

.dropdown-lenguage:hover
{
    color: darkgray !important;
}

.navbar-dark .navbar-toggler{
    color: grey !important;
    border-color: rgba(128, 128, 128, 0.486) !important;
}
.navbar .logo{
    background: var(--primary-color-dark);
}

body{
    background: #eee;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
