:root {
    --primary-color-ligth: #96d811;
    --primary-color: #99cc33;
    --primary-color-dark: #79b61e;
    --primary-color-shadow: #7ab81d47;
    --secondary-color: #003f1f;
    --secondary-color-shadow: #003f1f57;
    --error-color: #ed1c24;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    border-radius: 0;
    background-color: var(--primary-color-dark);
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: var(--primary-color-dark);
}

.btn-primary {
    cursor: pointer;
    border-radius: 0;
    color: #fff;
    background-color: var(--primary-color-dark);
    border-color: var(--primary-color)
}

.form-group {
    overflow: initial;
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
    box-shadow: 0 10px 15px -3px #00000040;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
