:root {
    --primary-color-ligth: #96d811;
    --primary-color: #99cc33;
    --primary-color-dark: #79b61e;
    --primary-color-shadow: #7ab81d47;
    --secondary-color: #003f1f;
    --secondary-color-shadow: #003f1f57;
    --error-color: red;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color-dark);
    border-color: var(--primary-color)
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--primary-color-dark);
    border-color: var(--primary-color-dark)
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
