.dt-buttons {
    display: flex;
    flex-wrap: wrap;
}

.dt-buttons .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    min-width: 50px;
    background-color: transparent;
    border: 1px transparent solid;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    padding: 0;
    border-radius: 0;
}

.dt-buttons .btn:hover {
    border: 1px solid rgba(132, 174, 238, 0.849);
    background-color: rgba(132, 174, 238, 0.192);
    padding: 0px;
}

.dt-buttons .btn:active {
    box-shadow: none;
    border: 1px solid rgba(132, 174, 238) !important;
    background-color: rgba(132, 174, 238) !important;
}

.dt-buttons .btn:hover,
.dt-buttons .btn:focus {
    box-shadow: none !important;
}

.dt-buttons .btn img {
    height: 50px;
}

.dt-buttons .buttons-copy {
    background-image: url("../media/img/copy.png");
}

.dt-buttons .buttons-excel {
    background-image: url("../media/img/xls.png");
}

.dt-buttons .buttons-pdf {
    background-image: url("../media/img/pdf.png");
}

.dt-buttons .buttons-print {
    background-image: url("../media/img/print.png");
}

.buttons-html5:hover {
    box-shadow: none;
}

.pagination {
    margin-bottom: 20px !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    top: 50%;
    border-radius: 0;
    border: none;
    content: '';
    background-image: url("../media/img/plus.png");
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    transform: translate(-0%, -50%);
    box-shadow: none !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    background-image: url("../media/img/minus.png");
}

.selected {
    background-color: var(--primary-color-dark) !important
}

table.dataTable.display tbody>tr.even.selected>.sorting_1,
table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_1,
table.dataTable.display tbody>tr.odd.selected>.sorting_1,
table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_1 {
    background-color: var(--primary-color-dark) !important
}

#table_length {
    display: inline-block;
}

#table_length>label {
    margin-bottom: 0;
    margin-top: 1rem;
}

.dataTables_paginate {
    margin-top: .5rem !important;
    display: inline-block;
    float: right;
}

.dataTables_info {
    display: inline-block;
}

/* .dataTables_paginate {
    display: flex;
    justify-content: space-between;
} */
.page-item.active .page-link {
    background-color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
}

.page-link {
    color: #6c757d;
}

.page-link:hover {
    color: var(--secondary-color);
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(122, 184, 29, 0.514);
}

.custom-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(122, 184, 29, 0.514);
}

select[name=table_length] {
    width: 70px
}
