.dt-buttons{
    display: flex;
   }

   .dt-buttons .btn{
       display: flex;
       justify-content: center;
       align-items: center;
       height: 50px;
       width: 50px;
       min-width: 50px;
       background: white;
       border: 1px solid #ccc;
       background-position: center;
       background-repeat: no-repeat;
       background-size: 35px;
   }

   .dt-buttons .btn:hover{
       border: 1px solid rgb(112, 169, 255);

   }

   .dt-buttons .btn:click{
       box-shadow: none;
       background-color: rgb(77, 77, 77);
   }

   .dt-buttons .btn:focus{
       box-shadow: none;}

   .dt-buttons .btn img{
       height: 35px;
   }

   .dt-buttons .buttons-copy{
       background-image: url("../media/img/copy.png");
   }

   .dt-buttons .buttons-excel{
       background-image: url("../media/img/xls.png");
   }

   .dt-buttons .buttons-pdf{
       background-image: url("../media/img/pdf.png");
   }

   .dt-buttons .buttons-print{
       background-image: url("../media/img/print.png");
   }

